<!DOCTYPE html>
<html>
  <head>
    <title>toevoegen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('partials/nav-bar') %>
    <div class="container-fluid">
      <h1 class="text-center my-4">Film toevoegen</h1>
      <form id="film-form" action="/administration/add" method="POST">
        <h2>Titel</h2>
        <input type="text" name="title" class="form-control" required />
        <h2>Omschrijving</h2>
        <textarea name="description" class="form-control" required></textarea>
        <h2>Jaar</h2>
        <input type="month" name="release_year" class="form-control" required />
        <h2>Duur</h2>
        <input type="time" name="length" class="form-control" required />
        <h2>Taal</h2>
        <select name="language" class="form-select" required>
          <% languages.forEach(lang => { %>
          <option value="<%= lang.language_id %>"><%= lang.language %></option>
          <% }) %>
        </select>

        <h2>Huur</h2>
        <input
          type="number"
          name="rental_rate"
          placeholder="Huur"
          onchange="handleRentalRate(this)"
          class="form-control"
        />
        <p id="rental-field">$</p>
        <h2>Aankoopprijs</h2>
        <input
          type="number"
          name="replacement_cost"
          placeholder="2.99"
          onchange="handleReplacementCost(this)"
          class="form-control"
        />
        <p id="replacement-field">$</p>
        <h2>Huurtijd</h2>
        <input
          type="range"
          name="rental_duration"
          min="1"
          max="10"
          value="3"
          class="form-range"
        />
        <p><span id="rental_duration_value">3</span></p>

        <h2>Genre</h2>
        <% categories.forEach(category => { %>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            name="categories[]"
            value="<%= category.id %>"
          />
          <label class="form-check-label"> <%= category.name %> </label>
        </div>
        <% }) %>

        <h2>Beoordeling</h2>

        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="rating"
            value="PG"
            required
          />
          <label class="form-check-label">PG</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="rating"
            value="G"
            required
          />
          <label class="form-check-label">G</label>
        </div>

        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="rating"
            value="NC-17"
            required
          />
          <label class="form-check-label">NC-17</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="rating"
            value="PG-13"
            required
          />
          <label class="form-check-label">PG-13</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="rating"
            value="R"
            required
          />
          <label class="form-check-label">R</label>
        </div>

        <h2>Acteurs</h2>
        <div class="d-flex gap-2 mb-2">
          <input
            type="text"
            id="actor-first_name"
            placeholder="Voornaam"
            class="form-control"
          />
          <input
            type="text"
            id="actor-last_name"
            placeholder="Achternaam"
            class="form-control"
          />
          <button type="button" id="add-actor-btn" class="btn btn-success">
            +
          </button>
        </div>

        <table class="table" id="actors-table">
          <thead>
            <tr></tr>
          </thead>
          <tbody></tbody>
        </table>

        <h2>Specialiteiten</h2>
        <div id="special-features-wrapper">
          <div class="input-group mb-2 special-row">
            <input
              type="text"
              id="special_features"
              class="form-control"
              list="special_features_list"
            />
            <button
              type="button"
              id="add-special_feature-btn"
              class="btn btn-success btn-add-special"
            >
              +
            </button>
          </div>
          <table class="table" id="special_features-table">
            <thead>
              <tr></tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>

        <datalist id="special_features_list">
          <option value="Trailers"></option>
          <option value="Commentaries"></option>
          <option value="Deleted Scenes"></option>
          <option value="Behind the Scenes"></option>
        </datalist>

        <button type="submit" class="btn btn-primary mt-3">Opslaan</button>

        <a href="/administration/filter"><button>Annuleren</button> </a>
      </form>
    </div>
    <script>
      InitializeActors();
      InitializeSpecialFeatures();

      function InitializeActors() {
        const addActorBtn = document.getElementById("add-actor-btn");
        const actorsTableBody = document.querySelector("#actors-table tbody");

        addActorBtn.addEventListener("click", function () {
          const firstName = document
            .getElementById("actor-first_name")
            .value.trim();
          const lastName = document
            .getElementById("actor-last_name")
            .value.trim();

          if (!IsValidName(firstName) || !IsValidName(lastName)) {
            alert("Naam mag alleen letters bevatten.");
            return;
          }

          if (!firstName || !lastName) {
            alert("Vul beide velden in.");
            return;
          }

          if (
            Array.from(
              actorsTableBody.querySelectorAll(
                'input[name="actors_first_name[]"]'
              )
            ).some(
              (input, index) =>
                input.value === firstName &&
                actorsTableBody.querySelectorAll(
                  'input[name="actors_last_name[]"]'
                )[index].value === lastName
            )
          ) {
            alert("Deze acteur is al toegevoegd.");
            return;
          }

          // Maak een nieuwe tabelrij
          const tr = document.createElement("tr");
          tr.innerHTML = `
          <td>${firstName}<input type="hidden" name="actors_first_name[]" value="${firstName}"></td>
          <td>${lastName}<input type="hidden" name="actors_last_name[]" value="${lastName}"></td>
          <td><button type="button" class="btn btn-primary btn-remove">-</button></td>
        `;

          actorsTableBody.appendChild(tr);

          // Maak de inputvelden leeg voor de volgende invoer
          document.getElementById("actor-first_name").value = "";
          document.getElementById("actor-last_name").value = "";
        });

        // Verwijder een actor
        actorsTableBody.addEventListener("click", function (e) {
          if (e.target.classList.contains("btn-remove")) {
            e.target.closest("tr").remove();
          }
        });
      }

      function InitializeSpecialFeatures() {
        const addSpecialFeatureBtn = document.getElementById(
          "add-special_feature-btn"
        );
        const specialFeaturesTableBody = document.querySelector(
          "#special_features-table tbody"
        );

        addSpecialFeatureBtn.addEventListener("click", function () {
          const specialFeatureInput =
            document.getElementById("special_features");
          const specialFeature = specialFeatureInput.value.trim();

          if (!specialFeature) return;

          specialFeatureOptions = [
            "Trailers",
            "Commentaries",
            "Deleted Scenes",
            "Behind the Scenes",
          ];

          if (!specialFeatureOptions.includes(specialFeature)) {
            alert("Ongeldige special feature. Kies uit de lijst.");
            return;
          }

          if (
            Array.from(
              specialFeaturesTableBody.querySelectorAll(
                'input[name="special_features[]"]'
              )
            ).some((input) => input.value === specialFeature)
          ) {
            alert("Deze special feature is al toegevoegd.");
            return;
          }

          // Maak een nieuwe tabelrij
          const tr = document.createElement("tr");
          tr.innerHTML = `
          <td>${specialFeature}<input type="hidden" name="special_features[]" value="${specialFeature}"></td>
          <td><button type="button" class="btn btn-primary btn-remove-special">-
      </button></td>
        `;

          specialFeaturesTableBody.appendChild(tr);

          // Maak het inputveld leeg voor de volgende invoer
          specialFeatureInput.value = "";
        });

        // Verwijder een special feature
        specialFeaturesTableBody.addEventListener("click", function (e) {
          if (e.target.classList.contains("btn-remove-special")) {
            e.target.closest("tr").remove();
          }
        });
      }

      function IsValidName(name) {
        const nameRegex = /^[a-zA-Z]+$/;
        return nameRegex.test(name);
      }
    </script>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
  ></script>
</html>
